.portfolio__container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 2rem;
  padding: 2rem 4rem;
}

.portfolio__item {
  background: var(--color-bg-variant);
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.portfolio__item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}

.portfolio__item-img {
  border-radius: 1.5rem;
  overflow: hidden;
}

.portfolio__item h3{
    margin: 1.2 0 2rem;
    text-align: center;
}

/* ============ MEDIA QUERISE (MEDIUM DEVICES) ============= */
@media screen and (max-width: 1024px) {
    .portfolio__container {
        flex-direction: column;
        gap: 4rem;
        padding: 5rem 8rem;
      }

      section h5{   
        font-size: 3rem;
      }
      section h2{   
        font-size: 2rem;
      }
      .portfolio__item h3{
        font-size: 1.5rem;
      }
}


