header {
  height: 100vh;
  overflow: hidden;
  padding-top: 2rem;
  text-align: center;
}

.header__container {
  height: 100%;
  position: relative;
  text-align: center !important;
}

/* ============ CTA ============ */

.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* ============ SOCIALALS ============ */

.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
  margin-left: 7rem;
}

.header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

/* ============ ME ============ */
.me {
  width: 22rem;
  height: 30rem;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 2rem;
  overflow: hidden;
  padding: 3rem 1.5rem 1.5rem 1.5rem;
}

.me img {
  border-radius: 14rem 14rem 0 0;
}

/* ============ SCROLL DOWN ============ */

.scroll__down {
  position: absolute;
  right: 5rem;
  bottom: 6rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

/* ============ MEDIA QUERISE (MEDIUM DEVICES) ============= */
@media screen and (max-width: 1024px) {
      header{
        height: 68vh;
      }

}

/* ============ MEDIA QUERISE (MEDIUM DEVICES) ============= */

@media screen and (max-width: 600px) {
        header{
          height: 100vh;
        }

        .header__socials,.scroll__down{
          display: none;
        }

}